*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App h1{
    text-align: center;
    margin: 5px;
}

.template{
    width: 33.333%;
    display: inline-block;
    border: 5px solid transparent;
}

.template .image{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
}

.meme{
    text-align: center;
}

.meme img{
    width: auto;
    height: 300px;
    border: 1px solid black;
}

.meme input{
    margin: 5px;
    padding: 3px;
}

.meme button{
    margin: 10px;
    padding: 6px;
}